
<section id="footer">
    <div class="footer">
        <div class="newletter">
            <h2>Newletters</h2>
            <p>inscrivez vous pour plus d'informations</p>
            <input type="text" class="text">
            <button>send</button>
        </div>
        <div class="contact">
            <h2>Address</h2>
            <ul>
                <li>Contact: +145343435343</li>
                <li>Adress: Avenu lyncol street 45 New York</li>
            </ul>
        </div>
        <div class="doctor">
            <h2>Our Doctor</h2>
            <ul>
                <li>Dr Jones</li>
                <li>Dr Jones</li>
                <li>Dr Jones</li>
                <li>Dr Jones</li>
                <li>Dr Jones</li>
                <li>Dr Jones</li>
            </ul>
        </div>
        <div class="Clinic">
            <h2>Our Clinics</h2>
            <ul>
                <li>Dr Jones</li>
                <li>Dr Jones</li>
                <li>Dr Jones</li>
                <li>Dr Jones</li>
                <li>Dr Jones</li>
                <li>Dr Jones</li>
            </ul>
        </div>
    </div>
</section>