<div class="consult">
    <div class="card">
        <div class="header">
          <h1>ehr</h1>
          <div class="address">
              <h3>HrlMedicale</h3>
              <p>Adress: <strong>265 Avennu New York</strong></p>
              <p>tel: 346846515155</p>
          </div>
        </div>
        <div class="doctor">
            <span>Doctor Name: <strong> Dr Joes</strong></span>
            <input type="date" name="date" id="date">
            <input type="text" name="patient" id="patient" placeholder="enter patient name">
            <input type="text" name="dese" id="dese" placeholder="enter la maladie du patient">
        </div>
        <div class="terea">
            <textarea name="ord" id="ord" cols="100" rows="10" placeholder="Enter your Ordonnance"></textarea>
        </div>
        <div class="registre">
            <div></div>
            <button>Enregistrer</button>
        </div>
    </div>
</div>
