
<div class="content-grid">
    <h2>Patient lists</h2>
    <div class="card">
        <div class="card-header">
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="text" name="" id="">
            </div>
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table>
                    <thead>
                        <td>#</td>
                        <td>Patient name</td>
                        <td>Genre</td>
                        <td>Dernière visite</td>
                        <td>Maladies</td>
                        <td>Number</td>
                        <td>email</td>
                        <td>location</td>
                        <td>Rapport</td>
                        <td>Details</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="assets/image/franc.jpg" width="60" height="60" alt=""></td>
                            <td>franck</td>
                            <td>M</td>
                            <td>22/11/22</td>
                            <td>fièvre</td>
                            <td>Number</td>
                            <td>+565845865</td>
                            <td>Location</td>
                            <td><a href=""><span style="color: orangered;font-size: 1.2rem;" class="las la-file-pdf"></span></a></td>
                            <td>
                               <button>Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="assets/image/franc.jpg" width="60" height="60" alt=""></td>
                            <td>franck</td>
                            <td>M</td>
                            <td>22/11/22</td>
                            <td>fièvre</td>
                            <td>Number</td>
                            <td>+565845865</td>
                            <td>Location</td>
                            <td><a href=""><span style="color: orangered;font-size: 1.2rem;" class="las la-file-pdf"></span></a></td>
                            <td>
                               <button>Details</button>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="assets/image/franc.jpg" width="60" height="60" alt=""></td>
                            <td>franck</td>
                            <td>M</td>
                            <td>22/11/22</td>
                            <td>fièvre</td>
                            <td>Number</td>
                            <td>+565845865</td>
                            <td>Location</td>
                            <td><a href=""><span style="color: orangered;font-size: 1.2rem;" class="las la-file-pdf"></span></a></td>
                            <td>
                               <button>Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>
</div>