<div class="card " >
    <div class="single-card">
        <div class="email">
            <label for="">E-mail</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="email">
            <label for="">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="email">
            <label for="">New password</label>
            <input type="password" name="npassword" id="npassword">
        </div>
        <button>Save</button>
    </div>
    
</div>
<div class="card">
    <div class="single-card">
       <div class="profil">
            <div class="name">
                <label for="">Firstname</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="name">
                <label for="">Lastrstname</label>
                <input type="text" name="lastname" id="lastname">
            </div>
       </div>
       <div class="role">
            <div class="spec">
                <label for="">Speciality</label>
                <input type="text" name="Speciality" id="Speciality">
            </div>
            <div class="spec">
                <label for="">Clinical name</label>
                <input type="text" name="clinical" id="clinical">
            </div>
            <div class="spec">
                <label for="">E-mail</label>
                <input type="email" name="email" id="email">
            </div>
       </div>
        <button class="btne">Save change</button>
    </div>
    
</div>
