<app-header></app-header>
<!-- header -->
<div class="container-flex">
   <div id="hiro">
   <h5>Best Medical Clinic</h5>
   <h1><Strong>Bringing Health</Strong>To</h1>
   <h1>Life For The Whole Family...</h1>
   <button>Get appointment</button>
   </div> 
   <!--body -->

   <div id="body">
      <div class="tet">
         <h4>We Offer Specialized</h4>
         <h2>Orthopedics To Meet Your Needs</h2>
      </div> 
      <div class="carde">
         <div class="carde-single">
            <img src="assets/homeimage/1.png" alt="">
            <div class="cd-bpdy">
               <h6>Medical Treatment</h6>
               <p>
                  Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit.
                  Necessitatibus cumque vel tempora odit
                  aliquid delectus, provident a! Fugit ex praesentium 
                  dolore facilis corrupti quas.
               </p>
            </div>
         </div>
         <div class="carde-single">
            <img src="assets/homeimage/2.png" alt="">
            <div class="cd-bpdy">
               <h6>Emergency Help</h6>
               <p>
                  Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit.
                  Necessitatibus cumque vel tempora odit
                  aliquid delectus, provident a! Fugit ex praesentium 
                  dolore facilis corrupti quas.
               </p>
            </div>
         </div>
         <div class="carde-single">
            <img src="assets/homeimage/3.png" alt="">
            <div class="cd-bpdy">
               <h6>Medical Professionals</h6>
               <p>
                  Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit.
                  Necessitatibus cumque vel tempora odit
                  aliquid delectus, provident a! Fugit ex praesentium 
                  dolore facilis corrupti quas.
               </p>
            </div>
         </div>
         <div class="carde-single">
            <img src="assets/homeimage/4.png" alt="">
            <div class="cd-bpdy">
               <h6>Qualified Doctors</h6>
               <p>
                  Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit.
                  Necessitatibus cumque vel tempora odit
                  aliquid delectus, provident a! Fugit ex praesentium 
                  dolore facilis corrupti quas.
               </p>
            </div>
         </div> 
      </div>
   </div>

   <h2 style="text-align: center;margin-top:2rem;">Our Services</h2>
   <div class="services">
      <div class="row-content">
         <div class="row-part1">
            <img src="assets/homeimage/04.jpg" alt="">
         </div>
         <div class="row-part2">
            
         </div>
      </div>
   </div> 

   <div class="services">
      <div class="row-content">
         <div class="row-part1">
            
         </div>
         <div class="row-part2">
            <img src="assets/homeimage/02.jpg" alt="">
         </div>
      </div>
   </div>
   <div class="services">
      <div class="row-content">
         <div class="row-part1">
            <img src="assets/homeimage/03.jpg" alt="">
         </div>
         <div class="row-part2">
            
         </div>
      </div>
   </div>
   <div class="services">
      
      <div class="row-content">
         <div class="row-part1">
            
         </div>
         <div class="row-part2">
            <img src="assets/homeimage/01.jpg" alt="">
         </div>
      </div>
   </div>
   <div class="services">
      
      <div class="row-content">
         <div class="row-part1">
            <img src="assets/homeimage/07.jpg" alt="">
         </div>
         <div class="row-part2">
           
         </div>
      </div>
   </div>
<!-- faiare -->
   <div class="classe">
      <div class="cart">
         <img src="assets/homeimage/01.png" alt="">
      </div>
      <div class="cart">
         <img src="assets/homeimage/02.png" alt="">
      </div>
      <div class="cart">
         <img src="assets/homeimage/03.png" alt="">
      </div>
      <div class="cart">
         <img src="assets/homeimage/04.png" alt="">
      </div>
      <div class="cart">
         <img src="assets/homeimage/05.png" alt="">
      </div>
      <div class="cart">
         <img src="assets/homeimage/06.png" alt="">
      </div>
      <div class="cart">
         <img src="assets/homeimage/07.png" alt="">
      </div>
      <div class="cart">
         <img src="assets/homeimage/08.png" alt="">
      </div>
      <div class="cart">
         <img src="assets/homeimage/09.png" alt="">
      </div>
      
     
   </div>

   <!-- appointment -->
   <div class="appointment">
      <h3>Take your appointment</h3>
      <div class="appoint">
         <div class="name">
            <input type="text" name="name" id="name" placeholder="enter your firstname">
            <input type="text" name="lname" id="lname" placeholder="enter your lastname">
         </div>
         <div class="number">
            <input type="email" name="email" id="email" placeholder="enter your email">
            <input type="number" name="number" id="number" placeholder="enter your number">
         </div>
         <div class="Clinic">
            <select name="doctor" id="doctor">
               <option value="">Choise your doctor</option>
               <option value="">Mr Jones</option>
               <option value="">Mr Jones</option>
               <option value="">Mr Jones</option>
               <option value="">Mr Jones</option>
               <option value="">Mr Jones</option>
            </select>
            <select name="doctor" id="doctor">
               <option value="">Choise your Clinical</option>
               <option value="">Clinique alphas</option>
               <option value="">Clinique alphas</option>
               <option value="">Clinique alphas</option>
               <option value="">Clinique alphas</option>
               <option value="">Clinique alphas</option>
            </select>
         </div>
         <div class="date">
            <input type="date" name="date" id="date">
            <input type="time" name="time" id="time">
         </div>
         <button>Get Appointment</button>
      </div>
   </div>
<app-footer></app-footer>
</div>

